body{
	background: $white;
	font-size: 16px;
	font-family: $global-font;
	font-weight: $light;
	line-height: 1.6;
	color: $light-dark;
	width: 100%;
	overflow-x: hidden;
}
@media #{$bp-575}{
	body{
		font-size: 14px;
	}
}

h1, h2, h3, h4, h5, h6{
	font-family: $global-font;
	font-weight: $bold;
	color: $dark;
}
h1{
	font-size: 60px;
	margin-bottom: 15px;
}
h2{
	font-size: 30px;
	margin-bottom: 17px;
}
h3{
	font-size: 24px;
	margin-bottom: 18px;
}


.site-btn{
	color: $white;
	background: $blue;
	border: none;
  	border-radius: 100px;
  	font-weight: $normal;
  	padding: 10px 35px;
  	box-shadow: 0px 11px  22px rgba(108,99,255,0.51);
}